{% extends 'cookingMain/base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/login-reg.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="container" align="center">
    <h2>Login</h2>
    
	<form role="form" method="post" action=".">
		{% csrf_token %}
        
        <p class="lead">
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus/>
        </p>
        
        <p class="lead">
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required autofocus/>
        </p>
        
		<a href="#" class="nav-link">Forgot Password?</a>
        
        <p class="lead">
			<input class="btn btn-primary" type="submit" value="Login"/>
        </p>
        
	</form>
	<div class="mastfoot">
		<div class="inner">
            <p>Not a member?    
                <a class="nav-link" href="{% url 'registration_register' %}">Register!</a></p>
		</div>
    </div>
</div>
{% endblock %}