{% extends 'cookingMain/base.html' %}
{% block body %}
            <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}/images/splash.jpeg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1>Welcome</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
	<h1>Logged Out</h1>
	<p class="lead">You are now logged out</p>
	<a href="{url 'index'}" class="bt btn-lg btn-primary">Return Home</a>
{% endblock %}
