{% extends "cookingMain/base.html" %}
{% load staticfiles %}

{% block title %} Cooking For Coders {% endblock %}



{% block body %}

            <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}/images/splash.jpeg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            {% if user.is_authenticated %}
                                <h1>Welcome {{ user.username }}</h1>
                            {% else %}
                                <h1>Welcome</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>




<!-- Page Content -->
<div class="container">



     <!-- Navigation -->
        <nav class="navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                <a class="navbar-brand" href="">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        {% if category_list %}
                        {% for category in category_list %}

                        <li>
                            <a href="/cfc/category/{{ category.slug }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}{% endif %}

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    <hr>
    {% if user.is_authenticated %}
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Saved Recipies</h3>
            </div>
        </div>
        <!-- /.row -->

            <!-- Page Features -->
        <div class="row text-center">
            {% if top_recipes %} {% for recipe in top_recipes %}

            <a href="/cfc/recipe/{{ recipe.id }}">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                        <div class="caption">
                            <h3>{{ recipe.title }}</h3>
                            <p>{{ recipe.description }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %} {% else %}
            <a href="#">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </a>

            {% endif %}

        </div>
        <!-- /.row -->

        <hr>
    
    {% endif %}

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Trending Recipes</h3>
        </div>
    </div>
    <!-- /.row -->
  <hr>
    <!-- Page Features -->
    <div class="row text-center">
        {% if top_recipes %} {% for recipe in top_recipes %}

        <a href="/cfc/recipe/{{ recipe.recipeID }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>New Recipes</h3>
        </div>
    </div>
    <!-- /.row -->
  <hr>
    <!-- Page Features -->
    <div class="row text-center">
        {% if newest_recipes %} {% for recipe in newest_recipes %}

        <a href="/cfc/recipe/{{ recipe.recipeID }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>

<!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <a href="/cfc/category/vegetarian/"><h3>Vegetarian Recipes</h3></a>
        </div>
    </div>
    <!-- /.row -->
  <hr>
    <!-- Page Features -->
    <div class="row text-center">
        {% if veg_recipes %} {% for recipe in veg_recipes %}

        <a href="/cfc/recipe/{{ recipe.recipeID }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>

<!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <a href="/cfc/category/lunch/"><h3>Lunch Recipes</h3></a>
        </div>
    </div>
    <!-- /.row -->
  <hr>
    <!-- Page Features -->
    <div class="row text-center">
        {% if lunch_recipes %} {% for recipe in lunch_recipes %}

        <a href="/cfc/recipe/{{ recipe.recipeID }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>

<!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <a href="/cfc/category/dessert/"><h3>Dessert Recipes</h3></a>
        </div>
    </div>
    <!-- /.row -->
  <hr>
    <!-- Page Features -->
    <div class="row text-center">
        {% if dessert_recipes %} {% for recipe in dessert_recipes %}

        <a href="/cfc/recipe/{{ recipe.recipeID }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>
</div>

{% endblock %}
