{% extends "cookingMain/base.html" %}
{% load staticfiles %}

{% block title %} Cooking For Coders {% endblock %}



{% block body %}

            <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}/images/splash.jpeg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            {% if user.is_authenticated %}
                                <h1>Welcome {{ user.username }}</h1>
                            {% else %}
                                <h1>Welcome</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Page Content -->
<div class="container">
    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Trending Recipes</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        {% if top_recipes %} {% for recipe in top_recipes %}

        <a href="/cfc/recipe/{{ recipe.id }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>New Recipes</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        {% if newest_recipes %} {% for recipe in newest_recipes %}

        <a href="/cfc/recipe/{{ recipe.id }}">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{ recipe.picture }}" alt="">
                    <div class="caption">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <a href="#">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}

    </div>
    <!-- /.row -->

    <hr>
</div>

{% endblock %}
