{% extends "cookingMain/base.html" %}
{% load staticfiles %}

{% block title %}
    Cooking For Coders
{% endblock %}


{% block body %}
            <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}/images/Dinner2.jpeg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            {% if user.is_authenticated %}
                                <h1>Welcome {{ user.username }}</h1>
                            {% else %}
                                <h1>Welcome</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <div class="container">

         <!-- Navigation -->
        <nav class="navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                <a class="navbar-brand" href="">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        {% if category_list %}
                        {% for category in category_list %}

                        <li>
                            <a href="/cfc/category/{{ category.slug }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}{% endif %}

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    <hr>

        <h1>{{selecteduser.username}} Profile</h1>
        <img src="{{ MEDIA_URL }}{{userprofile.picture }}"
             width="300"
             height="300"
             alt="{{selecteduser.username}}" />
        <br/> <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form> {% else %}
        {% endif %} </div>
        <div id="edit_profile"></div>

    </div>
       <hr></br></br>

<div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Saved Recipies</h3>
            </div>
        </div>
        <!-- /.row -->

            <!-- Page Features -->
        <div class="row text-center">
            {% if top_recipes %} 
            {% for recipe in top_recipes %}

            <a href="/cfc/recipe/1">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}pockets.jpeg" alt="">
                        <div class="caption">
                            <h3>Spicy Courgette Python Pockets</h3>
                            <p>Moist pockets of juicy, spicy courgette</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <a href="#">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Sorry</h3>
                            <p>You have not yet saved any recipies.</p>
                        </div>
                    </div>
                </div>
            </a>

            {% endif %}

        </div>
        <!-- /.row -->

        <hr>
</div>
{% endblock %}
